{# src/PM/CharacterBundle/Resources/views/Level/view.html.twig #}
 
{% extends "PMCharacterBundle:Level:layoutAdmin.html.twig" %}

{% block title %}
    Niveau {{ level.level }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Niveau {{ level.level }} :
{% endblock %}
    
{% block h1_extend %}
    <a class="btn btn-lg btn-primary" href="{{ path('pm_level_administration_edit', {'level': level.level}) }}" >Modifier</a>
    <a class="btn btn-lg btn-danger main-JS-delete" href="{{ path('pm_level_administration_delete', {'level': level.level}) }}" >Supprimer</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Niveau {{level.level}}</li>
    <li class="active">Voir</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="row">
            <ul>
                <li>Points d'Expériences nécessaires : {{level.xpPoints}}</li>
                <li>Points de Compétences maximum par compétence de classe : {{level.classSkillModifier}}</li>
                <li>Points de Compétences maximum par compétence hors classe : {{level.ofClassSkillModifier}}</li>
                <li>Aquisition d'un don : {% if level.gift == true %}Oui{% else %}Non{% endif %}</li>
                <li>Aquisition d'un point de caractéristique : {% if level.abilityUp == true %}Oui{% else %}Non{% endif %}</li>
            </ul>
        </div>
    </section>
</div>
{% endblock %}