{# src/PM/CharacterBundle/Resources/views/Ability/register.html.twig #}
 
{% extends "PMCharacterBundle:Ability:layoutAdmin.html.twig" %}

{% block title %}
    Edition - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Edition :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('pm_ability_administration_view', {'slug': ability.slug}) }}">{{ability.name}}</a></li>
    <li class="active">Edition</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            {% include "PMCharacterBundle:Ability:edit_content.html.twig" %}
        </div>
    </section>
</div>
{% endblock %}
    
{% block javascripts_block %}
    {% javascripts  '@PMCharacterBundle/Resources/public/js/*'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
