{# src/PM/GiftBundle/Resources/views/Gift/listGifts.html.twig #}
 
{% extends "PMGiftBundle:Gift:layoutAdmin.html.twig" %}

{% block title %}
    Liste - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Liste des Dons :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Liste</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <table class="table table-striped" style="width: 100%">
            <tr>
                <th style="max-width: 30px;">#</th>
                <th style="text-align: left;">Nom</th>
            </tr>
            {% for gift in listGifts %}
                <tr>
                    <td style="text-align: left;">{{ loop.index }}</td>
                    <td style="text-align: left;"><a href="{{ path('pm_gift_administration_view', { 'slug' : gift.slug} ) }}">{{ gift.name }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" style="text-align: center; font-weight: bold;">Aucun Don connu.</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}