{# src/PM/CharacterBundle/Resources/views/Skill/view.html.twig #}
 
{% extends "PMCharacterBundle:Skill:layoutAdmin.html.twig" %}

{% block title %}
    {{ skill.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ skill.name }} :
{% endblock %}
    
{% block h1_extend %}
    <a class="btn btn-lg btn-primary" href="{{ path('pm_skill_administration_edit', {'slug': skill.slug}) }}" >Modifier</a>
    <a class="btn btn-lg btn-danger main-JS-delete" href="{{ path('pm_skill_administration_delete', {'slug': skill.slug}) }}" >Supprimer</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{skill.name}}</li>
    <li class="active">Voir</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <h2>Détail :</h2>
        <ul>
            <li>Caractéristique parente : <a href="{{path('pm_ability_administration_view', {'slug': skill.ability.slug})}}">{{skill.ability.name}}</a></li>
        </ul>
    </section>
</div>
{% endblock %}