{# src/PM/UserBundle/Resources/views/Profile/edit_content.html.twig #}
 
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_profile_edit" role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.name) }}
        {{ form_errors(form.firstname) }}
        {{ form_errors(form.roles) }}
        {{ form_errors(form.email) }}
    </div>
    <br />
    {% endif %}

    <fieldset>
        <legend>Utilisateur :</legend>

        <div class="form-group">
            {{ form_label(form.name, "Nom, Prénom :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-3">
                {{ form_widget(form.name, {'attr': {'placeholder': 'Nom de l\'utilisateur', 'class': 'form-control'}}) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.firstname, {'attr': {'placeholder': 'Prénom', 'class': 'form-control'}}) }}
            </div>
        </div>
        
        <div class="form-group">
            {{ form_label(form.email, "Adresse mail :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                {{ form_widget(form.email, {'attr': {'placeholder': 'mail@exemple.com', 'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Droits :</legend>
        
        <div class="form-group">
            {{ form_label(form.roles, "Droits :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-6">
                {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>

    <center><input type="submit" class="btn btn-default" /></center>
    {{ form_rest(form) }}
</form>