{# src/PM/UserBundle/Resources/views/User/listeUsers.html.twig #}
 
{% extends "PMUserBundle::layout.html.twig" %}
 
{% block title %}
    Liste - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Liste des Utilisateurs :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Liste</li>
{% endblock %}    

{% block PMUser_body %}
<div class="row">
    <section id="content" class="col-md-6">
        <h1>Liste des utilisateurs :</h1>
        
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-md-6 alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        	
        <br />
        <table class="table table-striped">
            <tr>
                <th style="max-width: 30px; text-align: left;">#</th>
                <th style="text-align: left;">Nom</th>
                <th style="text-align: left;">Adresse mail</th>
            </tr>
            {% for user in usersList %}
                <tr>
                    <td style="text-align: left;">{{ loop.index }}</td>
                    <td style="text-align: left;"><a href="{{ path('pm_user_administration_view', { 'user_id' : user.id} ) }}">{{ user.name | upper}} {{ user.firstname }}</a></td>
                    <td style="text-align: left;"><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                </tr>
            {% endfor %}
            {% if usersList is empty %}
                <tr>
                    <td colspan="5" style="text-align: center; font-weight: bold;">Aucun utilisateur connu.</td>
                </tr>
            {% endif %}
        </table>
    </section>
</div>
{% endblock %}