{# src/PM/UserBundle/Resources/views/User/listeUsers.html.twig #}
 
{% extends "PMUserBundle::layoutAdministration.html.twig" %}
 
{% block title %}
  Liste - {{ parent() }}
{% endblock %}

{% block PMUser_body %}
<div class="row">
    <section id="content" class="offset2 span8">
        <h1>Liste des utilisateurs inscrits :</h1>
        
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert span6 alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        	
        <br />
        <table class="table table-bordered table-striped">
            <tr>
                <th style="width: 10px;">N°</th>
                <th style="text-align: center;">Nom</th>
                <th style="text-align: center;">Adresse mail</th>
            </tr>
            {% for utilisateur in listeUtilisateurs %}
                <tr>
                    <td style="text-align: left;">{{ loop.index }}</td>
                    <td style="text-align: left;"><a href="{{ path('pm_user_view', { 'id_utilisateur' : utilisateur.id} ) }}">{{ utilisateur.name | upper}} {{ utilisateur.firstname }}</a></td>
                    <td style="text-align: left;"><a href="mailto:{{ utilisateur.email }}">{{ utilisateur.email }}</a></td>
                </tr>
            {% endfor %}
            {% if listeUtilisateurs is empty %}
                <tr>
                    <td colspan="5" style="text-align: center; font-weight: bold;">Aucun utilisateur connu.</td>
                </tr>
            {% endif %}
        </table>
    </section>
</div>
{% endblock %}