{# src/PM/GameBundle/Resources/views/GamePublic/view.html.twig #}
 
{% extends "PMGameBundle:GamePublic:layoutPublic.html.twig" %}

{% block title %}
    {{ game.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ game.name }} :
{% endblock %}
    
{% block h1_extend %}
    {% if isMJ == true %}
        <a class="btn btn-lg btn-warning" href="{{path('pm_player_public_homepage', {'slug': game.slug})}}" >Lancer</a>
        <a class="btn btn-lg btn-primary" href="{{ path('pm_game_administration_edit', {'slug': game.slug}) }}" >Modifier</a>
        <a class="btn btn-lg btn-danger main-JS-delete" href="{{ path('pm_game_administration_delete', {'slug': game.slug}) }}" >Supprimer</a>
    {% elseif isCharacter == true%}<strong>Joueur</strong>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{game.name}}</li>
    <li class="active">Voir</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        
        {% if isMJ == true %}{% include 'PMGameBundle:GamePublic:viewMJ.html.twig' %}
        {% elseif isCharacter == true%}{% include 'PMGameBundle:GamePublic:viewPlayer.html.twig' %}
        {% else %}{% include 'PMGameBundle:GamePublic:viewPublic.html.twig' %}
        {% endif %}
    </section>
</div>
{% endblock %}