{# src/PM/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "PMUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Me connecter :
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('pm_welcome_homepage') }}">Accueil</a></li>
    <li class="active">Connexion</li>
{% endblock %}  
   
{% block body %}        
<div class="row">
    <section class="col-md-offset-2 col-lg-8">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-lg-7 alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
            
        <div class="well">
            {% block fos_user_content %}
                {% if error %}
                    <div>{{ error|trans }}</div>
                {% endif %}

                <form class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label" >Adresse mail</label>
                        <div class="col-sm-5">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" />
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label" >Mot de passe</label>
                        <div class="col-sm-5">
                            <input type="password" id="password" name="_password" class="form-control" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-sm-5">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">Se souvenir de moi</label>
                        </div>
                    </div>

                    <center><input type="submit" class="btn btn-default" id="_submit" name="_submit" value="Connexion" /></center>
                </form>
            {% endblock fos_user_content %}
        </div>
    </section>
</div>
{% endblock %}