{# src/PM/WeaponBundle/Resources/views/Weapon/view.html.twig #}
 
{% extends "PMWeaponBundle:Weapon:layoutAdmin.html.twig" %}

{% block title %}
    {{ weapon.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ weapon.name }} :
{% endblock %}
    
{% block h1_extend %}
    <a class="btn btn-lg btn-primary" href="{{ path('pm_weapon_administration_edit', {'slug': weapon.slug}) }}" >Modifier</a>
    <a class="btn btn-lg btn-danger main-JS-delete" href="{{ path('pm_weapon_administration_delete', {'slug': weapon.slug}) }}" >Supprimer</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{weapon.name}}</li>
    <li class="active">Voir</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <h2>Informations :</h2>
                <ul>
                    <li>A venir</li>
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}