{# src/PM/CharacterBundle/Resources/views/CharacterUsed/view_home.html.twig #}
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-hover">
            <caption>Caractéristiques :</caption>
            <thead>
                <tr>
                    <th>Caractéristiques</th>
                    <th>Mod.</th>
                    <th>Détail</th>
                </tr>
            </thead>
            {% for abilityName, abilityValue in abilities %}
                {% if abilityName == "strength" %}<tr><th>Force</th><td>{% if abilityValue >= 0%}+{% endif %}{{abilityValue}}</td></tr>
                {% elseif abilityName == "dexterity" %}<tr><th>Dextérité</th><td>{% if abilityValue >= 0%}+{% endif %}{{abilityValue}}</td></tr>
                {% elseif abilityName == "constitution" %}<tr><th>Constitution</th><td>{% if abilityValue >= 0%}+{% endif %}{{abilityValue}}</td></tr>
                {% elseif abilityName == "intelligence" %}<tr><th>Intelligence</th><td>{% if abilityValue >= 0%}+{% endif %}{{abilityValue}}</td></tr>
                {% elseif abilityName == "wisdom" %}<tr><th>Sagesse</th><td>{% if abilityValue >= 0%}+{% endif %}{{abilityValue}}</td></tr>
                {% elseif abilityName == "charisma" %}<tr><th>Charisme</th><td>{% if abilityValue >= 0%}+{% endif %}{{abilityValue}}</td></tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
        
    <div class="col-md-6">
        BBA : 
        {% for bab in babs %}
            {{bab.value}}
        {% endfor %}<br />
        Mod. Lutte :
        {% for grappleModifier in grappleModifiers %}
            {{grappleModifier}}
        {% endfor %}<br />
        CA : {{ac}}<br />
        CA de Contact : {{touchAC}}<br />
        CA de pris au dépourvu : {{fFAC}}<br />
        Vitesse : {{speed}}<br />
        Initiative : {{initiative}}<br />
        <table class="table table-bordered">
            <caption>Jets de Sauvegarde</caption>
            <tr>
                <td>Réflex</td>
                <td>{{fortitude}}</td>
            </tr>
            <tr>
                <td>Vigueur</td>
                <td>{{reflex}}</td>
            </tr>
            <tr>
                <td>Volonté</td>
                <td>{{will}}</td>
            </tr>
        </table>
    </div>
</div>