{# src/PM/CharacterBundle/Resources/views/CharacterUsed/view.html.twig #}
 
{% extends "PMCharacterBundle:CharacterUsed:layoutAdmin.html.twig" %}

{% block title %}
    {{ characterUsed.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ characterUsed.name }} :
{% endblock %}
    
{% block h1_extend %}
    <a class="btn btn-lg btn-primary" href="{{ path('pm_characterused_administration_edit', {'slug': characterUsed.slug}) }}" >Modifier</a>
    <a class="btn btn-lg btn-danger main-JS-delete" href="{{ path('pm_characterused_administration_delete', {'slug': characterUsed.slug}) }}" >Supprimer</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{characterUsed.name}}</li>
    <li class="active">Voir</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="jumbotron">
            <h2>{{characterUsed.name}}</h2>
            <div class="row">
                <div class="col-md-3">
                    <small><a href="{{path('pm_user_view', { 'user_id' : characterUsed.user.id})}}">{{characterUsed.user.username}}</a></small>
                </div>
                <div class="col-md-3">
                    Race : <a href="{{path('pm_race_administration_view', {'slug': characterUsed.race.slug})}}">{{characterUsed.race.name}}</a><br />
                </div>
                <div class="col-md-3">
                    {% for instance in characterUsed.classDnDInstances %}
                        Classe : <a href="{{path('pm_classdnd_administration_view', {'slug': instance.classDnD.slug})}}">{{instance.classDnD.name}}</a><br />
                        Niveau : {{instance.level}}<br />
                    {% endfor %}
                    Exp. : 0XP
                </div>
                <div class="col-md-3">
                    PV : {{characterUsed.hpCurrent}}/{{characterUsed.hpMax}}
                </div>
            </div>
        </div>
        
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="UserTab">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Présentation</a></li>
                <li role="presentation"><a href="#rp" aria-controls="rp" role="tab" data-toggle="tab">Role Play</a></li>
                <li role="presentation"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Compétences</a></li>
                <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">Statistiques</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    {% include 'PMCharacterBundle:CharacterUsed:view_home.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="rp">
                    {% include 'PMCharacterBundle:CharacterUsed:view_rp.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="skills">
                    {% include 'PMCharacterBundle:CharacterUsed:view_skills.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="statistics">
                    {% include 'PMCharacterBundle:CharacterUsed:view_statistics.html.twig' %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}