{# src/PM/WelcomeBundle/Resources/views/Administration/index.html.twig #}
 
{% extends "PMWelcomeBundle::layoutAdmin.html.twig" %}
 
{% block title %}
    Accueil - {{ parent() }}
{% endblock %} 

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Accueil</li>
{% endblock %}

{% block h1 %}
    Administration
{% endblock %}

{% block PM_body %}
    <div class="well">
        <h2>Utilisateurs :</h2>
        
        <a href="{{path('pm_user_homepage')}}">Gestion Utilisateurs</a>
    </div>
    <div class="well">
        <h2>Personnages :</h2>
        
        <a href="{{path('pm_characterused_administration_homepage')}}">Gestion des Personnages</a><br />
        <a href="{{path('pm_alignment_administration_homepage')}}">Gestion des Alignements</a><br />
        <a href="{{path('pm_classdnd_administration_homepage')}}">Gestion des Classes</a><br />
        <a href="{{path('pm_race_administration_homepage')}}">Gestion des Races</a><br />
        <a href="{{path('pm_language_administration_homepage')}}">Gestion des Langues</a><br />
        <a href="{{path('pm_skill_administration_homepage')}}">Gestion des Compétences</a>
    </div>
    <div class="well">
        <h2>Parties :</h2>
        A venir.
    </div>
{% endblock %}
    
{% block javascripts_block %}
{% endblock %}