{# src/PM/WelcomeBundle/Resources/views/Administration/index.html.twig #}
 
{% extends "PMWelcomeBundle::layoutAdmin.html.twig" %}
 
{% block title %}
    Accueil - {{ parent() }}
{% endblock %} 

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Accueil</li>
{% endblock %}

{% block h1 %}
    Administration
{% endblock %}

{% block PM_body %}
    <a href="{{path('pm_user_homepage')}}">Gestion Utilisateurs</a><br />
    <a href="{{path('pm_alignment_homepage')}}">Gestion des Alignements</a><br />
    <a href="{{path('pm_classDnD_homepage')}}">Gestion des Classes</a><br />
    <a href="{{path('pm_race_homepage')}}">Gestion des Races</a>
{% endblock %}
    
{% block javascripts_block %}
{% endblock %}