{# src/PM/MonsterBundle/Resources/views/Monster/index.html.twig #}
 
{% extends "PMMonsterBundle:Monster:layoutAdmin.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Gestion des Monstres :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Accueil</li>
{% endblock %}    
    
{% block PM_body %}
<div class="row">
    <section class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-lg-7 alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            <h2>Gestion des Monstres</h2>
            <ul>
                <li><a href="{{ path('pm_monster_administration_insert') }}">Ajouter un Monstre</a></li>
                <li><a href="{{ path('pm_monster_administration_list') }}">Liste des Monstres</a></li>
            </ul>
        </div>
    </section>
</div>
{% endblock %}