{# src/PM/CharacterBundle/Resources/views/Race/view.html.twig #}
 
{% extends "PMCharacterBundle:Race:layoutAdmin.html.twig" %}

{% block title %}
    {{ race.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ race.name }} :
{% endblock %}
    
{% block h1_extend %}
    <a class="btn btn-lg btn-primary" href="{{ path('pm_race_administration_edit', {'slug': race.slug}) }}" >Modifier</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{race.name}}</li>
    <li class="active">Voir</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="row">
            <div class="col-md-6">
                <h2>Informations sur la Race</h2>
                
                <ul>
                    <li>Taille : {{race.size}}</li>
                    <li>Vitesse : {{race.speed}}</li>
                    <li>Classe de Prédilection : {% if race.predilectionClass is not null %}<a href="{{path('pm_classdnd_administration_view', {'slug': race.predilectionClass.slug})}}">{{ race.predilectionClass.name }}</a>{% else %}Pas de classe de prédilection renseignée.{% endif %}</li>
                    <li>Modificateur de Points de Compétences : {{race.skillModifier}}</li>
                    <li>Modificateur de Points de Vie : {{race.hpModifier}}</li>
                    <li>Langues :</li>
                    <ul>
                        {%for language in race.languages %}
                            <li><a href="{{path('pm_language_administration_view', {'slug': language.slug})}}">{{language.name}}</a></li>
                        {% else %}
                            <li>Aucune langue parlée</li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Texte descriptif</h2>
                {% if race.description is not empty %}
                    <div class="well">
                        {{ race.description|raw }}
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">Aucune description fournie pour cette race.</div>
                {% endif %}
                
            </div>
        </div>
    </section>
</div>
{% endblock %}