{# src/PM/CharacterBundle/Resources/views/CharacterUsedPublic/view_content.html.twig #}
 
<div class="jumbotron">
    <h2>{{characterUsed.name}}</h2>
    <div class="row">
        <div class="col-md-4">
            Race : <a href="{{path('pm_race_public_view', {'slug': characterUsed.race.slug})}}">{{characterUsed.race.name}}</a><br />
        </div>
        <div class="col-md-4">
            {% for instance in characterUsed.classDnDInstances %}
                Classe : <a href="{{path('pm_classdnd_public_view', {'slug': instance.classDnD.slug})}}">{{instance.classDnD.name}}</a><br />
                Niveau : {{instance.level.level}}<br />
            {% endfor %}
            Exp. : 0/{{xpForLevelUp}}XP
        </div>
        <div class="col-md-4">
            PV : {{characterUsed.hpCurrent}}/{{characterUsed.hpMax}}
        </div>
    </div>
</div>

<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="UserTab">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Présentation</a></li>
        <li role="presentation"><a href="#rp" aria-controls="rp" role="tab" data-toggle="tab">Role Play</a></li>
        <li role="presentation"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Compétences</a></li>
        <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">Statistiques</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            {% include 'PMCharacterBundle:CharacterUsedPublic:view_content_home.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="rp">
            {% include 'PMCharacterBundle:CharacterUsedPublic:view_content_rp.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="skills">
            {% include 'PMCharacterBundle:CharacterUsedPublic:view_content_skills.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="statistics">
            {% include 'PMCharacterBundle:CharacterUsedPublic:view_content_statistics.html.twig' %}
        </div>
    </div>
</div>