{# src/PM/CharacterBundle/Resources/views/CharacterUsedPublic/view.html.twig #}
 
{% extends "PMCharacterBundle:CharacterUsedPublic:layoutPublic.html.twig" %}

{% block title %}
    {{ characterUsed.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ characterUsed.name }} :
{% endblock %}
    
{% block h1_extend %}
    <a class="btn btn-lg btn-primary" href="{{ path('pm_characterused_public_edit', {'slug': characterUsed.slug}) }}" >Modifier</a>
    <a class="btn btn-lg btn-danger main-JS-delete" href="{{ path('pm_characterused_public_delete', {'slug': characterUsed.slug}) }}" >Supprimer</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{characterUsed.name}}</li>
    <li class="active">Voir</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        {% include 'PMCharacterBundle:CharacterUsedPublic:view_content.html.twig' %}
    </section>
</div>
{% endblock %}